{% extends "base.html" %}
{% block title %} {% endblock title %}

{% block content %}
<h1>Greetings</h1>

<hr />

<form method="post" action="{% url 'greetings:list' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" class="btn btn-default" />
</form>

<hr />

<table class="table table-hover">
  <tbody>
    {% for greeting in greetings %}
    <tr>
      <td class="active" width="30%">
        {{ greeting.name }}
        <br />
        <small class="text-muted">
          {{ greeting.date_created }}
        </small>
      </td>
      <td>{{ greeting.comment }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "pagination/bootstrap.html" with page_objects=greetings %}
{% endblock content %}

